

<include file="Public:header" />

<body>
<div class="pd-20">
	<form action="{:U('Activity/addactivity')}" enctype="multipart/form-data" method="post" class="form form-horizontal" id="form-article-add">
		<input type="hidden" name="id" value="{$updateMsg.id}">
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>活动标题：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="{$updateMsg.title}" required placeholder="" id="" name="title">
			</div>
		</div>
		<!-- <div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>URL地址：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="" required placeholder="" id="" name="url">
			</div>
		</div> -->
		<div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" value="{$updateMsg.logo}" type="text" name="uploadfile" id="uploadfile" readonly="1" nullmsg="请添加图片！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont"></i> 添加图片</a>
				<input type="file" multiple="multipart/form-data" required name="file-2" class="input-file">
				</span> </div>
		</div>
		
		<!-- <div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>文件夹：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly="1" nullmsg="请上传文件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont"></i> 添加压缩文件包</a>
				<input type="file" multiple="multipart/form-data" required name="file" class="input-file">
				</span><br>
				<label class="c-red"><span class="c-red">*</span>请上传文件压缩包，且解压过后文件夹目录包含index文件名。</label><br>
				<label class="c-red"><span class="c-red">*</span>另:压缩文件包里面不能再有压缩文件包。</label>
			 </div>
		</div> -->
		
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">

</script>
</body>
</html>