
<include file="Public:header" />

<body>
<nav class="breadcrumb"> <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">   <if condition="$countCourt eq 0"><a class="btn btn-primary radius" onclick="admin_add('添加/修改管理球场','__APP__/Admin/Admin/addteam/id/{$id}.html','500','500')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加/修改管理球场</a></if></span> <span class="r">共有数据：<strong>{$countCourt?$countCourt:'0'}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="70">球场编号</th>
					<th width="150">球场名称</th>
					<th width="120">联系电话</th>
					<th width="80">球场类型</th>
					<th width="80">所属球馆</th>
					<th width="50">封面图</th>
					<th width="120">详细地址</th>
					<th>描述</th>					
					<th width="80">是否vip</th>
					<th width="80">vip折扣</th>
					<th width="80">预定裁判</th>
					<th width="80">打折标签</th>
					<th width="80">状态</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			<foreach name="courtMsg" item="val">
				<tr class="text-c">
					<td>{++$key}</td>
					<td>{$val.name}</td>
					<td>{$val.phone}</td>
					<td>{$val.type}</td>
					<td>{$val.ball_park_name}</td>
					<td><a href="javascript:;" onClick="admin_add('{$val.ball_park_name}','{$val.image_thumb}','800','800')"><img src="{$val.image_thumb}" width="50" height="30"></td>
					<td>{$val.address}</td>
					<td>{$val.intro}</td>
					<if condition="$val['is_vip'] eq 1">					
						<td><span class="label label-success radius">是</span></td>
					<else />
						<td><span class="label label-default radius">否</span></td>
					</if>
					<if condition="$val['is_discount'] eq 1">
						<td><span class="label label-success radius">已开启</span></td>
					<else />
						<td><span class="label label-default radius">未开启</span></td>
					</if>
					<if condition="$val['is_referee'] eq 1">
						<td class="text-c"><span class="label label-success radius">是</span></td>
					<else />
						<td class="text-c"><span class="label label-default radius">否</span></td>
					</if>
					<td class="text-c">{$val['discount_tag']?$val['discount_tag']:'无'}</td>
					<td class="td-status">
					<if condition="$val['is_freeze'] eq 0">
						<span class="label label-success radius">正常</span>
					<else />
						<span class="label label-defaunt radius">已下架</span>
					</if>
					</td>
					<td class="td-manage">
					<if condition="$val['is_freeze'] eq 0">
						<a style="text-decoration:none" onClick="product_stop(this,'{$val.court_id}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
					<else />
						<a style="text-decoration:none" onClick="product_start(this,'{$val.court_id}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
					</if> 
						<a style="text-decoration:none" onClick="product_brand_edit('品牌编辑','codeing.html','{$val.court_id}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
						<!-- <a style="text-decoration:none" class="ml-5" onClick="active_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a> -->
					</td>
				</tr>
			</foreach>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script><script type="text/javascript" src="__ROOT__/Public/Admin/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.product.js"></script> 
<script type="text/javascript">
$(function(){
	if($('#close').html()==1){
		layer.msg('该管理员暂无球馆管理信息。。。',{icon:2,time:2000});
		//setTimeout("window.parent.location.reload()",2000);
	}
});
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
	]
});
function product_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$.ajax({
			url:"{:U('Admin/ball_park_stop')}",
			type:'post',
			dataType:'json',
			data:{'id':id},
			success:function(Msg){
				if(Msg){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
					$(obj).remove();
					layer.msg('已下架!',{icon: 5,time:1000});
				}else{
					layer.msg('操作失败！请重试...',{icon: 6,time:1000});
				}
			}
		});
		
	});
}
function product_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$.ajax({
			url:"{:U('Admin/ball_park_start')}",
			type:'post',
			dataType:'json',
			data:{'id':id},
			success:function(Msg){
				if(Msg){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">正常</span>');
					$(obj).remove();
					layer.msg('已发布!',{icon: 6,time:1000});
				}else{
					layer.msg('操作失败！请重试...',{icon: 5,time:1000});
				}
			}
		});
		
	});
}
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
</script>
</body>
</html>