<include file="Public:header" />

<body class="pos-r">

<div style="margin-left:0px;">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 
	<if condition="$status eq 0">
		待支付订单 
	<elseif condition="$status eq 1" />
		已支付订单 
	<elseif condition="$status eq 2" />
		待退款订单 
	<elseif condition="$status eq 3" />
		已退款订单 
	</if>
	
	
	<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="pd-20">
		
		<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l"> 
			<a class="btn btn-primary radius" href="{:U('Indent/refund_list',array('type'=>0,'status'=>$status))}"><i class="Hui-iconfont">&#xe665;</i> 排位赛订单</a>
			<a class="btn btn-primary radius" href="{:U('Indent/refund_list',array('type'=>1,'status'=>$status))}"><i class="Hui-iconfont">&#xe665;</i> 友谊赛订单</a>
			<a class="btn btn-primary radius" href="{:U('Indent/refund_list',array('type'=>2,'status'=>$status))}"><i class="Hui-iconfont">&#xe665;</i> 充值订单</a>
			  <a class="btn btn-primary radius" href="{:U('Exportexcel/getOrderExcel',array('type'=>$type,'status'=>$status))}"><i class="Hui-iconfont">&#xe644;</i> 导出信息</a>
		</span>
		<span class="r">共有数据：<strong>{$countRefund?$countRefund:'0'}</strong> 条</span>
		</div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th width="80">支付用户</th>
						<th width="50">订单创建时间</th>
						<if condition="($type eq 0) or ($type eq 1) OR ($type eq 3)">
							<th width="100">预定时间</th>
							<th width="100">球队名称</th>
							<th width="60">裁判类型</th>
							<th width="80">球场名称</th>
							<th width="80">球场类型</th>
							<th width="40">三联币抵扣金额</th>
						</if>
						<th width="40">支付金额</th>
						<th width="40">支付方式</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script>

<if condition="($type eq 0) or ($type eq 1) OR ($type eq 3)">
	<script type="text/javascript">
		var tableOption={
			"autoWidth":false,
			"processing":true,
			"serverSide":true,
			"searching": false,
			"order": [[ 0, "desc" ]],//默认第几个排序
			"ordering": true,
			"bStateSave": true,//状态保存
			"columnDefs": [
			{"orderable":false,"aTargets":[4,5,6]}// 制定列不参与排序
			],
			"ajax":{
				"url":"__URL__/getOrderList?type={$type}&status={$status}",
				"type":"POST",
				"data": function (d) {
					var data = {};
					var column = d['order'][0]['column'];
					var datemin = $("#datemin").val();
					var datemax = $("#datemax").val();
					var search = $("#searchText").val();
					datemax = datemax?datemax+" 24:00:00":"";
					data.draw=d['draw'];
					data.offset=d['start'];
					data.limit=d['length'];
					data.order=d['order'][0]['dir'];
					data.sort=d['columns'][column]['data'];
					data.start_time=datemin;
					data.end_time=datemax;
					data.search= search;
					return data;
				}
			},
			"columns":[
				{"data":"phone"},
				{
					"data":"create_time",
					"render": function (data, type, full) {
						var time = moment.unix(data).format("YYYY-MM-DD");
						return time;
					}
				},
				{
					data:"game_time",
					"defaultContent":"",
//					"render": function (data, type, full) {
//						var elem = full.game_time;
//						return elem;
//					}
				},
				{
					data:"team_name"
				},
				{
					"data":null,
					"defaultContent":"",
					"render":function(data,type,full){
						var referee = full['referee'];
						var elem = "";
						if(referee){
							elem = referee['name'];
						}
						return elem;
					}
				},
				{
					"data":"court",
					"defaultContent":"",
					"render":function(data,type,full){

						return data['name'];
					}
				},
				{
					"data":"court",
					"defaultContent":"",
					"render":function(data,type,full){

						return data['type'];
					}
				},
				{
					data:"san_money",
					render: function (data, type, full) {
						var elem = data;
						if(full.type==1){
							elem = full.f_san_money;
						}
						return elem;
					}
				},
				{
					"data":"price",
					"render": function (data, type, full) {
						var elem = data;
						if(full.type==1){
							elem = full.f_price;
						}
						return elem;
					}
				},
				{
					"data":"pay_type",
					"render": function (data, type, full) {
						var elem = "";
						data |= 0;
						switch (data){
							case 0:
								elem = "三联币";
								break;
							case 1:
								elem = "支付宝";
								break;
							case 2:
								elem = "微信";
								break;
							default:
								elem = "<font color='red'>出错了</font>"
						}

						return elem;
					}
				},
			],
			"createdRow": function (row,data,dataIndex) {
				$(row).addClass('text-c');
			}
		};
	</script>
</if>

<if condition="($type eq 2)">
	<script type="text/javascript">
		var tableOption={
			"autoWidth":false,
			"processing":true,
			"serverSide":true,
			"searching": false,
			"order": [[ 0, "desc" ]],//默认第几个排序
			"ordering": true,
			"bStateSave": true,//状态保存
			"columnDefs": [
//			{"orderable":false,"aTargets":[2,6]}// 制定列不参与排序
			],
			"ajax":{
				"url":"__URL__/getOrderList?type={$type}&status={$status}",
				"type":"POST",
				"data": function (d) {
					var data = {};
					var column = d['order'][0]['column'];
					var datemin = $("#datemin").val();
					var datemax = $("#datemax").val();
					var search = $("#searchText").val();
					datemax = datemax?datemax+" 24:00:00":"";
					data.draw=d['draw'];
					data.offset=d['start'];
					data.limit=d['length'];
					data.order=d['order'][0]['dir'];
					data.sort=d['columns'][column]['data'];
					data.start_time=datemin;
					data.end_time=datemax;
					data.search= search;
					return data;
				}
			},
			"columns":[
				{"data":"phone"},
				{
					"data":"create_time",
					"render": function (data, type, full) {
						var time = moment.unix(data).format("YYYY-MM-DD");
						return time;
					}
				},
				{
					"data":"price",
					"render": function (data, type, full) {
						return data;
					}
				},
				{
					"data":"pay_type",
					"render": function (data, type, full) {
						var elem = "";
						data |= 0;
						switch (data){
							case 0:
								elem = "三联币";
								break;
							case 1:
								elem = "支付宝";
								break;
							case 2:
								elem = "微信";
								break;
							default:
								elem = "<font color='red'>出错了</font>"
						}

						return elem;
					}
				},

			],
			"createdRow": function (row,data,dataIndex) {
				$(row).addClass('text-c');
			}
		};
	</script>
</if>




<script type="text/javascript">
	/*
	 *   获取操作列的DOM
	 * */
	function getManageEle(id,full){
		var type = full.type;
		var elem ="";
		var set_refund_elem = '<a style="text-decoration:none" onClick="setOrderRefundStatus(\'设置退款类型\','+id+')" href="javascript:void(0);" title="设置退款类型">设置退款类型</a>';
		var check_elem = '<a title="查看" href="javascript:void(0);" onclick="order_check(\'查看订单详情\','+id+')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe695;</i></a> ';
		var del_elem = '<a title="删除" href="javascript:void(0);" onclick="product_del(this,'+id+')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>';

		if(type==2){
			elem=check_elem+del_elem;
		}else {
			elem=(check_elem+set_refund_elem+del_elem);
		}

		return elem;
	}
	/*
	 *   搜索
	 * */
	function search(){
		table.ajax.reload()
	}

	$(function () {
		window.table = $('table.table-sort').DataTable(tableOption);
	});


/*图片-添加*/
function order_check(title,id){
	var url = "__URL__/orderMsg/type/{$type}/order_id/"+id;
	layer_show(title,url,500,520);
}
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*图片-查看*/
function product_show(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-审核*/
function product_shenhe(obj,id){
	layer.confirm('审核文章？', {
		btn: ['通过','不通过'], 
		shade: false
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布', {icon:6,time:1000});
	},
	function(){
		$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="product_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
		$(obj).remove();
    	layer.msg('未通过', {icon:5,time:1000});
	});	
}
/*图片-下架*/
function product_stop(obj,id){
	layer.confirm('确认要下架吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
		$(obj).remove();
		layer.msg('已下架!',{icon: 5,time:1000});
	});
}

/*图片-发布*/
function product_start(obj,id){
	layer.confirm('确认要发布吗？',function(index){
		$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="product_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
		$(obj).remove();
		layer.msg('已发布!',{icon: 6,time:1000});
	});
}
/*图片-申请上线*/
function product_shenqing(obj,id){
	$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
	$(obj).parents("tr").find(".td-manage").html("");
	layer.msg('已提交申请，耐心等待审核!', {icon: 1,time:2000});
}
/*图片-编辑*/
function product_edit(title,url,id){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-删除*/
function product_del(obj,id){
	var type="{$type}";
//	console.info(type);
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type:'post',
			url:"{:U('Indent/order_del')}",
			dataType:'json',
			data:{'id':id,'type':type},
			success:function(Msg){
				if(Msg){
					search();
					layer.msg('已删除!',{icon:1,time:1000});
				}
			}
		});	

	});
}

function setOrderRefundStatus(obj,id){
	layer.confirm('设置退款类型', {
				btn: ['可退款','不可退款','已使用'],
				shade: false,
				closeBtn: 1,
				btn2:function(){
					var data = {
						"order_id":id,
						"refund_type":4
					};
					$.post("__URL__/setRefundType",data)
							.success(function (data) {
								layer.msg('已设置为不可退款！', {icon:6,time:1000});
								$(obj).parents("tr").find(".td-refund").html('<span class="label label-primary radius">不可申请退款</span>');
							})
							.error(function (data) {
								layer.msg(data.responseText,{icon: 5,time:1000});
							})
							.always(function () {
								search();
							});
				},
				btn3:function(){
					var data = {
						"order_id":id,
						"refund_type":5
					};
					$.post("__URL__/setRefundType",data)
							.success(function (data) {
								layer.msg('已设置为已使用！', {icon:6,time:1000});
								$(obj).parents("tr").find(".td-refund").html('<span class="label label-success radius">已使用</span>');
							})
							.error(function (data) {
								layer.msg(data.responseText,{icon: 5,time:1000});
							})
							.always(function () {
								search();
							});
				},
				cancel: function () {

				}
			},
			function(){
				var data = {
					"order_id":id,
					"refund_type":3
				};
				$.post("__URL__/setRefundType",data)
						.success(function (data) {
							layer.msg('已设置为可退款！', {icon:6,time:1000});
							$(obj).parents("tr").find(".td-refund").html('<span class="label label-default radius">可申请退款</span>');
						})
						.error(function (data) {
							layer.msg(data.responseText,{icon: 5,time:1000});
						})
						.always(function () {
							search();
						});
			});
}
</script>
</body>
</html>