
<include file="Public:header" />

<body>
<div class="pd-20">
	<form action="{:U('System/promoted_update')}" method="post" class="form form-horizontal" id="form-article-add">
		<input type="hidden" name="id" value="{$promotMsg.id}" />
		<div class="row cl">
			<label class="form-label col-2">等级名称：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="{$promotMsg.name}" required placeholder="" id="" name="name">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-2">开始值：</label>
			<div class="formControls col-1">
				<input type="text" name="start" id="" placeholder="" required value="{$promotMsg.start}" class="input-text" style="width:90%">
				</div>
			<label class="form-label col-1">最大值：</label>
			<div class="formControls col-1">
				<input type="text" name="end" id="" placeholder="0代表无上限" required value="{$promotMsg.end}" class="input-text" style="width:90%">
				</div>
		</div>
		
		
		<div class="row cl">
			<label class="form-label col-2">说明：</label>
			<div class="formControls col-5"> 
				<script id="editor" type="text/plain" name="content" style="width:100%;height:400px;">{$promotMsg.content}</script> 
			</div>
		</div>
				
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	if($('#close').html()==1){
		layer.msg('修改成功！',{icon:1,time:2000});
		setTimeout("window.parent.location.reload()",2000);
	}
});
$(function(){
	var ue = UE.getEditor('editor');
	console.info(ue);
});
</script>
</body>
</html>
